.shopcategory-banner {
  display: flex;
  margin: 2rem auto;
}
.shopcategory-indexSort {
  display: flex;
  margin: 0 5rem;
  justify-content: space-between;
  align-items: center;
}

.shopcategory-sort {
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #999;
}
.shopcategory-sort p span {
  font-weight: 600;
}
.shopcategory-products {
  margin: 1.5rem 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 5rem;
}
