.related-products {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.related-products h1 {
  color: #171717;
  font-size: 3rem;
  font-weight: bold;
}
.related-products hr {
  width: 200px;
  height: 6px;
  border-radius: 10px;
  background-color: #252525;
  margin-bottom: 2rem;
}
.related-products-item {
  display: flex;
  gap: 2rem;
}
